<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>TaskForLesson3</title>
</head>
<body>
<h1>Изменить данные продукта</h1>
<form th:action="@{/products/edit}" th:object="${product}" method="POST">

    <input hidden th:field="*{id}"/>
    <br>
    Title: <input th:field="*{title}"/>
    <br>
    Cost: <input th:field="*{cost}"/>
    <br>
    <input type="submit" value="Обновить"/>
</form>
<br>
<a th:href="@{/}">На главную страницу</a>
</body>
</html>
